<div class="container" align="center" style="max-width:400px;padding-top:10px">
	Apakah Anda yakin menghapus periode <%= @ss_period.ss_period_period %>?<br><br>
	<%= link_to "Hapus", ss_period_path(@ss_period), method: :delete, remote: true , class: "btn btn-danger btn-sm" %>&nbsp;&nbsp;&nbsp;
	<%= link_to "Batal", "#", class: "btn btn-sm btn-default", data: {dismiss: "modal"} %><br><br>
</div>