<div class="form-group">
<%= form_tag(data_safety_stok_dashboard_index_path, method: :post, remote: true) do%>
  <div class="col-sm-9">
    <%= text_field_tag :obat_name, params[:obat_name], data: { autocomplete: autocomplete_obat_obat_name_dashboard_index_path}, class: "form-control", placeholder: "Nama Obat" %>
  </div>
  <div class="col-sm-2" style="padding-top: 10px">
    <%= submit_tag "Cari", class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
</div>