<% @indications.each do |indication| %>
  <tr>
  	<td><%= indication.indication_name %></td>
  	<td style="text-align:center">
    	<%= link_to edit_indication_path(indication), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} do %><span class="fa fa-edit"></span> Ubah<% end %>
    	<%= link_to del_indication_path(indication), class: "btn btn-danger btn-sm", remote: true, html:{style: "color:#FFFFFF"} do %><span class="fa fa-trash"></span> Hapus<% end %> </td>
  </tr>
<% end %>