<% @safety_stocks.each do |safety_stock| %>
  <tr>
  	<td><%= safety_stock.stock.outlet.outlet_name %> <%= safety_stock.stock.obat.obat_name %></td>
  	<td><%= safety_stock.safety_stock_qty %></td>
  </tr>
<% end %>