<div class="container">
	<div class="col-md-2">Nama: </div>
	<div class="col-md-4"><%= @obat.obat_name %></div><br>
	<div class="col-md-2">Harga: </div>
	<div class="col-md-4"><%= to_rupiah(@obat.obat_hpp) %></div>
</div>