<% @bentuks.each do |bentuk| %>
  <tr>
  	<td align="center"><%= bentuk.bentuk_name %></td>
  	<td style="text-align:center">
    	<%= link_to edit_bentuk_path(bentuk), class: "btn btn-primary btn-sm", remote: true, html:{style: "color:#FFFFFF"} do %><span class="fa fa-edit"></span> Ubah<% end %>
    	<%= link_to del_bentuk_path(bentuk), class: "btn btn-danger btn-sm", remote: true, html:{style: "color:#FFFFFF"} do %><span class="fa fa-trash"></span> Hapus<% end %> </td>
  </tr>
<% end %>