<div class="alert alert-danger fade in" id="notice" hidden>
  <a href="#" class="close" data-dismiss="alert" aria-label="close" id="close">&times;</a>
</div>
<div id="topAskLink"><%= buttonSwitch(@transaksi) %></div>

<div id="avail" style="margin: 10px 10px 10px 10px"></div>

<div id="dtransDiv"></div>

<div id="askTableDiv"></div>