<div class="alert alert-danger fade in" id="notice" hidden>
  <a href="#" class="close" data-dismiss="alert" aria-label="close" id="close">&times;</a>
</div>
<div class="row" align="center" style="max-width: 600px">
	<h3>Laporan Permintaan Obat</h3>
</div>
<div class="row" style="max-width: 600px;margin-top: 20px">
	<%= render 'transaksis/form_lap_ask' %>
</div>
<div class="row" hidden="true" id="table_lap_ask" style="margin-left: 50px; max-width: 600px"></div>