@font-face{
	font-family: 'LobsterTwo';
  font-weight: normal;
  font-style: normal;
  src: font-url('LobsterTwo-Regular.ttf');
  src: font-url('LobsterTwo-Regular.ttf') format('truetype'),
       font-url('LobsterTwo-Regular.otf') format('opentype');
}

@font-face{
	font-family: 'Pacifico-Regular';
  font-weight: normal;
  font-style: normal;
  src: font-url('Pacifico-Regular.ttf');
  src: font-url('Pacifico-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Roboto-Regular';
  font-weight: normal;
  font-style: normal;
  src: font-url('Roboto-Regular.ttf');
  src: font-url('Roboto-Regular.ttf') format('truetype');
}

#login{
	font-family: 'Pacifico-Regular';
}

#transfer_tag{
  font-size: 15px;
}

#loginBox {
	background-color: #eceef1; 
	max-width: 350px; 
	padding: 10px 0px 40px 0px; 
	color: #588BF5;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

#rememberable {
	font-family: 'Pacifico-Regular';
	font-style: normal;
	padding: 8px 0px 0px 30px;
}
.form-control .ui-autocomplete-input{
  z-index: 1100
}

#safety_stock{
  border:1px solid;
  border-color: #e9e9ec;
  border-radius: 5px; 
  padding: 25px 25px 25px 25px;
  margin: 15px 15px 15px 15px;
  background-color: #fcfcfc;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
  background-color: #FFFFFF;
}

.card_nomid{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  background-color: #FFFFFF;
  padding: 10px 10px 10px 10px;
}

.stock_aman{
  max-width: 450px;
  padding: 10px 10px 10px 10px;
}

#form_ss{
  padding-left: 60px;
  padding-right: 50px;
}

.trans_status{
  padding: 10px 10px 10px 10px; 
}

#dashboard{
  overflow-y: scroll
}

.drugs_group{
  padding: 10px 10px 10px 10px;  
}

.notif{
  border: 1px solid;
  border-color: #e9e9ec;
  border-radius: 5px; 
  padding: 5px 5px 5px 5px;  
}

#notifDiv{
  overflow-y: scroll;
  max-height: 400px;
}

#notifList{
  padding: 10px 10px 10px 10px; 
  overflow-y: scroll;
  max-width: 700px;
}