<li class="<%= active?('/stocks') %>">
  <a href="/stocks">
    <i class="fa fa-cube fa-lg"></i>
    <p style="font-size: 10px">Stok Obat</p>
  </a>
</li>
<li class="<%= active?('/transaksis/ask') %>">
  <a href="/transaksis/ask">
    <i class="fa fa-medkit fa-lg"></i>
    <p style="font-size: 10px">Permintaan Obat</p>
  </a>
</li>
<li class="<%= active?('/transaksis/report_ask') %>">
  <a href="/transaksis/report_ask">
    <i class="fa fa-file-text-o fa-lg"></i>
    <p style="font-size: 10px">Laporan Permintaan Obat</p>
  </a>
</li>