<li class="<%= active?('/stocks') %>">
  <a href="/stocks">
    <i class="fa fa-cube fa-lg"></i>
    <p>Stok Obat</p>
  </a>
</li>
<li class="<%= active?('/transaksis/ask') %>">
  <a href="/transaksis/ask">
    <i class="fa fa-arrow-circle-up fa-lg">
    <p>Permintaan Obat</p>
  </a>
</li>
<li class="<%= active?('/transaksis/report_ask') %>">
  <a href="/transaksis/report_ask">
    <i class="fa fa-paperclip fa-fw"></i>
    <p style="font-size: 11px">Laporan Permintaan Obat</p>
  </a>
</li>