<div class="sidebar-wrapper" style="overflow-y: scroll">
  <div class="logo">
    <a href="/" class="simple-text">Kimia Farma</a>
  </div>
  <ul class="nav">
    <% if current_user.admin? %>
      <%= render 'layouts/sb_admin' %>
    <% elsif current_user.pengadaan? %>  
      <%= render 'layouts/sb_proc' %>
    <% elsif current_user.gudang? %>  
      <%= render 'layouts/sb_gudang' %>
    <% elsif current_user.pimpinan? %>  
      <%= render 'layouts/sb_lead' %>
    <% end %>
  </ul>
</div>